<div class="container">
  <h1>My First Google <em>night</em> Map</h1>
  <form class="form-group" >
    <input type="text" name="latitude" id="lat" placeholder="Latitude">
    <input type="text" name="longitude" id="lng" placeholder="Longitude">
    <input type="text" name="message" id="msg" placeholder="Message">
  </form>
  <button type="submit" onclick="getLongLat()" class="btn btn-success" id="btn">Go!</button>
  <br />
</div>
<div class="container" id="map">LOL</div>
