/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 #navbar {
   background-color: rgb(231,231,231);
 }

 #logo {
   height: 30px;
 }


 .btn {
   list-style: none;
   width: 40vw;

 }

 .container-fluid {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .direct {
   margin-top: 100px;
 }

 #btn {
   width: 100px;
 }

 #map {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 65vh;
 }

 #footer {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   width: 100%;
   background-color: rgb(231,231,231);
   height: 5vh;
 }
