


.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-title {

  text-align: center;
  font-size: 2.5vw;
  margin-left: 6vw;
  margin-right: 6vw;
  border-radius: 20px;
}


.results-box {
  background-color: white;
  border-radius: 20px;
  margin-left: 2.2vw;

}

.online-box {
  background-color: rgb(112, 173, 91);
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;

}


.offline-box {
  background-color: rgb(178, 62, 62);
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.subtitle {
  font-size: 2vw;
}

.logo {
  border-radius: 5px;
  width: 15%;
}

.user-name {
  text-align: center;
  font-size: 3vw;
}

.user-status {
  font-family: Arial;
  font-size: 1.7vw;
  text-align: center;

}

.user-online {
  font-size: 1.9vw;
  text-align: center;
}

th, td {
  text-align: center;
  width: 7%
}

.success {
  background-color: rgba(200, 255, 168, 0.7);
}

.danger {
  background-color: rgba(255,183,183, 0.7);
}

.last {
  width: 25%;
}
