
<footer class="footer text-faded text-center" id="footer">
  <div class="container-footer">
    <p class="m-0 small">Copyright &copy; THP - <a href="https://www.youtube.com/watch?v=lqeI3MN7Dj8">Team BDX</a> - 2018 - Made with ❤️</p>
  </div>
</footer>
