

<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <a class="navbar-brand" href="<%= root_path %>"><img id="logo" src="http://thp-agency.herokuapp.com/assets/logo-d36597a810f80a0e3c8ef6cb7b447c771565d605521871742c490f1192406590.png" alt="Logo">
</a>
  <div class=" navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_page?(google_path_url) %>
      <li class="nav-item">
        <a class="nav-link" href="<%= twitch_path_url %>">Twitch</a>
      </li>
      <% elsif current_page?(twitch_path_url) %>
      <li class="nav-item">
        <a class="nav-link" href="<%= google_path_url %>">Google Maps</a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/iMassim0?tab=repositories" target="_blank">by @massimo</a>
      </li>
    </ul>
  </div>
</nav>
